<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="saucelabs.testcomponents">
    <listeners>
        <listener class-name="saucelabs.testcomponents.Listeners" />
    </listeners>
    <test name = "ProductsTest">
        <classes>
            <class name="saucelabs.testcomponents.ProductsTest" />
        </classes>

    </test>

    <!-- You can define multiple <test> elements for different tests -->

    <!--
        Define listeners if needed. Listeners are used for executing code before or after tests,
        suites, or other TestNG events.
    -->


    <!-- Other configurations such as parallel execution, parameters, etc. -->

</suite>